<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add category form</title>
</head>
<body>
    <h1>add category form</h1>
    <form id="category_form" action="/blog/add_category/" method="POST">
        {% csrf_token %}
        {% for hi in form.hidden_fields %}
            {{ hi}}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <input type="submit" name="submit" value="add category"/>
    </form>
</body>
</html>