<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>category</title>
</head>
<body>
    <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% else %}
            <ul>{{ category_name }}Category not find</ul>
        {% endif %}
            <a href="/blog/category/{{ category.slug }}/add_page">在该类添加</a>
</body>
</html>