<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>vgogoing's blog</title>
</head>
<body>
    <h1>learn django~~~hohohho</h1>
    <strong>目录</strong>
    {% if category %}
    <ul>
        {% for i in category %}
            <li><a href="/blog/category/{{ i.slug }}">{{ i.name }}</a> <tr>{{ i.likes }} likes {{ i.views }} views</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no category</strong>
    {% endif %}
    <a href="/blog/add_category">添加一个目录</a><br>

    <strong>doc</strong>
    <ul>
        {% for p in page %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a> {{ p.views }} views
            </li>
        {% endfor %}
    </ul>

    <a href="/blog/about/">About</a><br>


    <!--<img src = {% static "images/wow.jpg" %} alt = "wowjpg" />-->
    <!--<img src = '/static/images/tailand.jpg' alt = 'taijpg' />-->
</body>
</html>