<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Calligraffitti|Nothing+You+Could+Do);
        body{background-color: 	AliceBlue;
            font-color:white}
         a{text-decoration:none; }
    </style>
    <title>vgogoing's blog</title>
</head>
<body>
    <h1>日拱一卒 功不唐捐</h1>
    <strong>目录</strong>
    {% if category %}
    <ul>
        {% for i in category %}
            <li><a href="/blog/category/{{ i.slug }}">{{ i.name }}</a> <tr>{{ i.likes }} likes {{ i.views }} views</li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>There are no category</strong>
    {% endif %}
    <a href="/blog/add_category">添加一个目录</a><br>

    <strong>Top5 views</strong>
    <ul>
        {% for p in page %}
            <li>
                <a href="{{ p.url }}">{{ p.title }}</a> {{ p.views }} views
            </li>
        {% endfor %}
    </ul>
    <h2>工具<br>
        <a href="https://wx.youmingtang.org:4200"><strong>my shellinabox</strong></a>
    </h2>
        <!--<img src = {% static "images/wow.jpg" %} alt = "wowjpg" />-->
    <!--<img src = '/static/images/tailand.jpg' alt = 'taijpg' />-->
    echo 'dmdvZ29pbmdAZ21haWwuY29tCg==' | base64 -d -i<br>
    <a href="/blog/register/">注册</a>
    <a href="/blog/about/">About</a>
</body>
</html>
